table {
  width: 100%;
  background-color: #000000;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #9932cc;
  border-style: solid;
  color: darkorchid;
  font-family:Poppins;
}

table td, table th {
  border-width: 4px;
  border-color: darkorchid;
  border-style: solid;
  padding: 20px;
}

table thead {
  background-color: darkorchid;
}
